<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
	<!-- nalika Icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/nalika-icon.css')}}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.theme.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.transitions.css')}}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/animate.css')}}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/meanmenu.min.css')}}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/morrisjs/morris.css')}}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/scrollbar/jquery.mCustomScrollbar.min.css')}}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/metisMenu/metisMenu.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/metisMenu/metisMenu-vertical.css')}}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/calendar/fullcalendar.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/calendar/fullcalendar.print.min.css')}}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
    <!-- modernizr JS
		============================================ -->
    <script src="{{url_for('static',filename='js/vendor/modernizr-2.8.3.min.js')}}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            
			<div class="nalika-profile">
				<div class="profile-dtl">
					
					<h2> FEE <span class="min-dtn">STUCTURE</span></h2>
				</div>
				
			</div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a  href="/">
								   <i class="icon nalika-home icon-wrap"></i>
								   HOME
								</a>
                           
                        </li>
                        <li>
                            <a href="/show" aria-expanded="false"><i class="icon nalika-mail icon-wrap"></i> <span class="mini-click-non">Show</span></a>
                            
                        </li>
                        <li>
                          <a href="/entry" aria-expanded="false"><i class="icon nalika-mail icon-wrap"></i> <span class="mini-click-non">Add Record</span></a>
                          
                      </li>
                        <li>
                            <a href="/logout" aria-expanded="false"><i class="icon nalika-mail icon-wrap"></i> <span class="mini-click-non">Logout</span></a>
                            
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
       
        <div class="header-advance-area">
            
            <!-- Mobile Menu start -->
            
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp">
										
											<div class="breadcomb-ctn">
												<h2>Fee Stucture Dashboard</h2>
												<p>Welcome to Website</p>
											</div>
										</div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <div class="container-fluid">
                
              
             
                          
                               
                                {%block body%}
                                {%endblock%}
                                
                    
            
                   
         
            </div>
        </div>
       
       
   
    <!-- jquery
		============================================ -->
    <script src="{{url_for('static',filename='js/vendor/jquery-1.12.4.min.js')}}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <!-- wow JS
		============================================ -->
    <script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="{{url_for('static',filename='js/jquery-price-slider.js')}}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{{url_for('static',filename='js/jquery.meanmenu.js')}}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
    <!-- sticky JS
		============================================ -->
    <script src="{{url_for('static',filename='js/jquery.sticky.js')}}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{{url_for('static',filename='js/jquery.scrollUp.min.js')}}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{{url_for('static',filename='js/scrollbar/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/scrollbar/mCustomScrollbar-active.js')}}"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="{{url_for('static',filename='js/metisMenu/metisMenu.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/metisMenu/metisMenu-active.js')}}"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="{{url_for('static',filename='js/sparkline/jquery.sparkline.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/sparkline/jquery.charts-sparkline.js')}}"></script>
    <!-- calendar JS
		============================================ -->
    <script src="{{url_for('static',filename='js/calendar/moment.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/calendar/fullcalendar.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/calendar/fullcalendar-active.js')}}"></script>
	<!-- float JS
		============================================ -->
    <script src="{{url_for('static',filename='js/flot/jquery.flot.js')}}"></script>
    <script src="{{url_for('static',filename='js/flot/jquery.flot.resize.js')}}"></script>
    <script src="{{url_for('static',filename='js/flot/curvedLines.js')}}"></script>
    <script src="{{url_for('static',filename='js/flot/flot-active.js')}}"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
    <!-- main JS
		============================================ -->
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>

</html>